<div class="md-copyright" style="margin-left: 38%">
    {% if config.copyright %}
      <div class="md-copyright__highlight" style="text-align: center">
        {{ config.copyright }}
      </div>
    {% endif %}
    {% if not config.extra.generator == false %}
        Powered by
      <a href="https://zensical.org" target="_blank" rel="noopener">Zensical</a>
        modified by
      <a href="https://noughtq.top" target="_blank" rel="noopener">
        NoughtQ
      </a>
      <!-- <br> -->
      <!-- <div style="text-align: center;">
        <a href="https://icp.gov.moe/?keyword=20252357" target="_blank">萌ICP备20252357号</a>
      </div> -->
    {% endif %}
  </div>